<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Harish Harde</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center alert-danger">Function Based View Models CRUD Project </h1>
   {% block conten %}
    {% endblock conten %}

</div>


<script src="{% static 'enroll/js/jquery.js' %)"></script>
<script src="{% static 'enroll/js/popper.js' %)"></script>
<script src="{% static 'enroll/js/bootstrap.js' %)"></script>

</body>
</html>